{% extends 'base.html' %}
{% load staticfiles %}
{% block main_content %}

			<div class="col-xs-9">
				<!--------------------------------------- main -------------------------------------->
				<main>
					<div class="bread-crumb">
						<a href="{% url 'index' %}">Главная</a>
						<a class="active" href="{% url 'news' %}">Новости</a>
					</div>
                    {% for new in news %}
					<div class="article-header">
						<span class="date"> {{new.date}} </span>
					</div>
					<div class="well">
                        <h3> {{new.title}} </h3>
						<p>
							{{new.content1|safe}}
						</p>
						<a href="{% url 'new' new.id %}" class="show"> . . .</a>
					</div>
                    {% endfor %}

                    <div class="pagination">
    <span class="step-links">
        {% if news.has_previous %}
            <a href="?page={{ news.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ news.number }} of {{ news.paginator.num_pages }}.
        </span>

        {% if news.has_next %}
            <a href="?page={{ news.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
				</main>
			</div>
{% endblock %}
